<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        h2 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        title {text-align: center;}
        ul {text-align: center;}
        li  {text-align: center;}
        a  {text-align: center;}
        button  {text-align: center;}
        span  {text-align: center;}
        th  {text-align: center;}
    </style>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>

    <meta name="viewport" content=
    "width=device-width, initial-scale=1">

    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

    <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>

</head>

<body>

<h3><%- include("includes/navbar.ejs")%></h3>

<h3>

</h3>
<div class="container">
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="project-form" action="/executive/insert" method="POST">
                <div class="form-group col-sm-3 mb-3">
                    <label for="Executive_ID">Executive ID</label>
                    <label>
                        <input type="text" class="form-control" name="Executive_ID" placeholder="Enter 9 Digit ID">
                    </label>
                </div>
                <div class="form-group col-sm-3 mb-3">
                    <label for="First_Name">First Name</label>
                    <label>
                        <input type="text" class="form-control" name="First_Name" placeholder="Enter First Name">
                    </label>
                </div>
                <div class="form-group col-sm-3 mb-3">
                    <label for="Last_Name"> Last Name</label>
                    <label>
                        <input type="text" class="form-control" name="Last_Name" placeholder="Enter Last Name">
                    </label>
                </div>
                <div class="form-group col-sm-3 mb-3">
                    <label for="Dateof_Birth">Date of Birth</label>
                    <label>
                        <input type="date" class="form-control" name="Dateof_Birth" placeholder="YYYY-MM-DD">
                    </label>
                </div>
                <br>
                <!--                       ------------------------ add more -------------------------------------------->

                <button type="submit" class="btn btn-primary btn-submit-custom">Submit</button>
            </form>
        </div>
    </div>
</div>
<script src="../../public/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
