<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        h2 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        title {text-align: center;}
        ul {text-align: center;}
        li  {text-align: center;}
        a  {text-align: center;}
        button  {text-align: center;}
        span  {text-align: center;}
        > ul > li {

            display:inline-block;

            margin-left: 15px;       /* This is when the drop down box appears */

            position: relative;

        }
        .dropdown-menu-center {
            left: 50% !important;
            right: auto !important;
            text-align: center !important;
            transform: translate(-50%, 0) !important;
        }

        .dropbtn {
            background-color: #709abf;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 190px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {background-color: #5376ad;}

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> Home Page </title>

    <meta name="viewport" content=
    "width=device-width, initial-scale=1">

    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

    <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>

</head>

<body>

<br>
<br>

<h1> Home Page </h1>


<!--<div class="modal-footer">-->
<!--    <button type="submit" form="modal-form" class="btn btn-success">Update</button>-->
<!--    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--</div>-->

<h2><%- include("includes/navbar.ejs")%></h2>

<br>
<p> Interesting Topics to Explore</p>

<h3> <a href="/popularField"> > Discover our Scientific Fields! </a></h3>

<h3> <a href="/constOrganization"> > See the most consistent Organizations! </a></h3>

<h3> <a href="/interField"> > See the top 3 Field Combinations! </a></h3>

<h3> <a href="/youngResearcher"> > See the top Young Researchers! </a></h3>

<h3> <a href="/bestExecutives"> > See the top best Executives! </a></h3>

<h3> <a href="/noStress">  > See the hardworking Researchers with no stress! </a></h3>

<h3> <a href="/projectResearcher">  > See where each Researcher work! </a></h3>

<h3> <a href="/projectEvaluation">  > See projects' evaluations and rewards! </a> </h3>

<br>

<!--<h3>Explore Our Database</h3>-->
<div class="dropdown dropdown-menu-center">
    <button class="dropbtn">Explore Our Database</button>
    <div class="dropdown-content">
        <a href="/projectCRUD">Projects</a>
        <a href="/program">Programs</a>
        <a href="/researcher">Researchers</a>
        <a href="/organization">Organizations</a>
        <a href="/executive">Executives</a>
    </div>
</div>
</div>


<!--<div class="dropdown">-->
<!--&lt;!&ndash;    <button type="button"&ndash;&gt;-->
<!--&lt;!&ndash;            class="btn btn-primary"&ndash;&gt;-->
<!--&lt;!&ndash;            id="dropDownButton"&ndash;&gt;-->
<!--&lt;!&ndash;            data-toggle="dropdown"&ndash;&gt;-->
<!--&lt;!&ndash;            aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        Select which field you would like to see&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <span class="caret"></span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->


<!--    <ul class="dropdown-menu"-->
<!--    <div style="width:800px; margin:0 auto;">-->
<!--        centered content-->
<!--    </div>-->

<!--       &lt;!&ndash; aria-labelledby="dropDownButton" > &ndash;&gt;-->
<!--        <li><a   href="/projectCRUD">Projects</a></li>-->
<!--        <li><a  href="/program">Programs</a></li>-->
<!--        <li><a href="/researcher">Researchers</a></li>-->
<!--        <li><a href="/organization">Organizations</a></li>-->
<!--        <li><a href="/executive">Executives</a></li>-->
<!--    </ul>-->
<!--</div>-->

</body>

</html>

<script>
    $('.dropdown-toggle').dropdown();

</script>