<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> Home Page </title>

</head>

<body>

<h1> Home Page </h1>

<%- include("includes/navbar.ejs")%>

<p> Hi there:) See our Work!!</p>

<h3> <a href="/interField"> See the top 3 Field Combinations! </a></h3>

<script>

</script>


</body>

</html>